body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
   
}
.half-width{
    width: 50%;
   padding: 70px;   
   
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 35px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(224, 160, 41);
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
}
.cover-pic{
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
footer p{
    text-align: center;
}
footer h2{
    text-align: center;
}
.black-color{
    background-color:rgb(182, 125, 56);
}
.Recipes-area{
    padding: 3%;

}
.item-area{
    width: 82%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 55px;
    padding-right: 20px;
    padding-top: 55px;
    box-shadow: 10px 15px 40px gray;
}
.item-area img{
    width: 90%

}

