body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
   
}
.half-width{
    width: 50%;
   padding: 70px; 
    
   
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 35px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(224, 160, 41);
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
}
.cover-pic{
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
footer p{
    text-align: center;
}
footer h3{
    text-align: center;
}
.Recipes-area{
    padding: 3%;

}